<tr>
    <th scope="row">1</th>
    <td>0001</td>
    <td>Cooler SO3 Plant</td>
    <td>Maintenance</td>
    <td>
        <a href="/update_activities" class="btn btn-warning">u</a>
        <a href="#" class="btn btn-danger">d</a>
    </td>
</tr>