<!-- include header -->
<%-include('template/_header')%>
<!-- /include header -->

<!-- main -->
<!-- navbar -->
<div class="jumbotron">
    <h3>maintenance management system</h3>
    <blockquote>from mejangoding.com</blockquote>
</div>
  <!-- /navbar -->
  <!-- /navbar -->
  <%-include('template/_formUpdate')%>
<!-- /main -->
<!-- /main -->

<!-- include footer -->
<%-include('template/_footer')%>
<!-- /include footer -->